<!DOCTYPE html>
<html lang="en">
<head>
    <title>登录</title>
</head>
<body>

<h1>登录</h1>
<form action="/login" method="post">
    <table>
        <tr>
            <td>当前端口:</td>
            <td>8001</td>
        </tr>
        <tr>
            <td>用户名：</td>
            <td><input type="text" maxlength="10" name="username" ></input></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" maxlength="10"  name="pwd" ></input></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="提交"></input>
                <input type="reset" value="重置"></input>
            </td>
        </tr>
    </table>
</form>
</body>
</html>